<div id="tableBase" class="container">

    <div *ngIf="!!teamList$?.length" class="tableBox">
        <table>
            <tr>
                <th title="Posição"><div>#</div></th>
                <th title="Equipa"><div>Equipa</div></th>
                <th title="Pontos"><div>Pts</div></th>
                <th title="Jogos Disputados"><div>J</div></th>
                <th title="Vitorias"><div>V</div></th>
                <th title="Derrotas"><div>D</div></th>
                <th title="Empates"><div>E</div></th>
                <th title="Golos Marcados"><div>GM</div></th>
                <th title="Golos Sofridos"><div>GS</div></th>
                <th title="Diferença de Goloas"><div>DG</div></th>
                <th title="Últimos 5 Jogos"><div>Últimos 5</div></th>
            </tr>
            <tr *ngFor="let team of teamList$; index as ind">
                <td><div>{{ ind + 1 }}</div></td>
                <td><div><img src="{{ core.assetsGlobalUrl }}emblemas/{{ team.sigla }}.png" [alt]="team.name"> {{ team.shortName }}</div></td>
                <td><div>{{ team.results.points }}</div></td>
                <td><div>{{ team.results.matchesPlayed }}</div></td>
                <td><div>{{ team.results.wins }}</div></td>
                <td><div>{{ team.results.losses }}</div></td>
                <td><div>{{ team.results.draws }}</div></td>
                <td><div>{{ team.results.goalsFavor }}</div></td>
                <td><div>{{ team.results.goalsAgainst }}</div></td>
                <td><div>{{ team.results.goalsFavor - team.results.goalsAgainst }}</div></td>
                <td><div><span *ngFor="let m of team.results.matchesResults | slice:-5" [class.win]="m == 'w'" [class.lose]="m == 'l'"></span></div></td>
            </tr>
        </table>
    </div>

</div>