#tableBase {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .tableBox {
        width: 100%;
        overflow-x: auto;

        table {
            margin: 0 auto;

            tr {
                border-bottom: 1px solid var(--mainColor);

                th, td {
                    white-space: nowrap;

                    &>div { padding: .375rem .25rem; }

                    &:not(:last-child, :nth-child(2))>div {
                        width: 35px;
                        text-align: center;
                    }

                    &:nth-child(2)>div {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        font-size: .85em;

                        img {
                            display: block;
                            width: 30px;
                            height: 30px;
                        }
                    }

                    &:last-child>div {
                        text-align: center;
                    }
                }

                td:last-child>div {
                    width: 120px;
                    background-color: rgba(255, 255, 255, 0.1);
                    height: 30px;
                    border-radius: 15px;
                    padding: .375rem .5rem;
                    
                    display: flex;
                    gap: 7px;
                    align-items: center;

                    span {
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-radius: 8px;
                        background-color: gray;

                        &.win { background-color: limegreen; }
                        &.lose { background-color: crimson; }

                        &:last-child {
                            outline: 1px solid #202124 !important;
                            background-color: gray;
                            box-shadow: 0 0 0 3px gray;

                            &.win {
                                background-color: limegreen;
                                box-shadow: 0 0 0 3px limegreen;
                            }

                            &.lose {
                                background-color: crimson;
                                box-shadow: 0 0 0 3px crimson;
                            }
                        }
                    }
                }
            }
        }
    }
}