#popBase {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 2rem 1.5rem;
    overflow: auto;
    background-color: rgba(32, 33, 36, 0.25);
    backdrop-filter: blur(10px);

    .popBox {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 320px;
        border: 2px solid var(--mainColor);
        background-color: #202124;
        transition: .1s;
        opacity: 0;
        text-align: center;
        border-radius: 30px;
        overflow: hidden;
        padding: 3rem 1.5rem 2rem;

        .clsBtn {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.5em;
            padding: .5rem;
            line-height: 0;
        }

        h5 { margin-bottom: 1rem; }

        input {
            display: block;
            width: 100%;
            height: 35px;
            padding: 0 1rem;
            border: none;
            border-bottom: 2px solid var(--mainColor);
            margin-bottom: 1rem;
            background-color: rgba(255, 255, 255, 0.15);
            color: inherit;
        }

        .team {
            display: flex;
            align-items: center;
            gap: 1rem;
            border-bottom: 2px solid var(--mainColor);
            margin-bottom: .5rem;

            img {
                display: block;
                width: 40px;
                height: 40px;
            }

            span {
                display: block;
                width: 100%;
                text-align: start;
            }

            input {
                width: 45px;
                height: 45px;
                border: none;
                padding: 0 .25rem;
                margin: 0;
                text-align: center;
                font-size: 1.5em;
                font-weight: 600;
            }
        }

        button {
            display: block;
            height: 35px;
            width: 100%;
            margin: 1rem auto 0;
            border: none;
            background: var(--mainColor);
            color: inherit;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 5px;
            cursor: pointer;

            &.blue { background: #0c3bc6; }
            
            &:disabled, &.disabled {
                position: relative;
                background: var(--thirColor);
                pointer-events: none;
                overflow: hidden;
            }
        }

        .btnBox {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &.visible {
        .popBox { opacity: 1; }
    }
}