<div id="popBase" [ngSwitch]="showingPopUp?.pop" [class.visible]="!!showingPopUp">

    <form #authForm="ngForm" *ngSwitchCase="'auth'" class="popBox" (submit)="checkAuth(authForm.value)">
        <span class="clsBtn" (click)="core.popup.next(undefined)"><i class="fa-solid fa-xmark"></i></span>
        <h5>Authentication</h5>
        <input ngModel type="text" name="user" placeholder="Username" minlength="4" maxlength="10" [disabled]="loading" autocomplete="username" required>
        <input ngModel type="password" name="pass" placeholder="Userpass" minlength="4" maxlength="10" [disabled]="loading" autocomplete="current-password" required>
        <button type="submit" [disabled]="loading || authForm.invalid">Send</button>
    </form>

    <div *ngSwitchCase="'update'" class="popBox">
        <span class="clsBtn" (click)="core.popup.next(undefined)"><i class="fa-solid fa-xmark"></i></span>
        <h5>Update Match Score</h5>

        <div class="team">
            <img src="{{ core.assetsGlobalUrl }}emblemas/{{ showingPopUp.extraData.team_a_sigla }}.png" [title]="showingPopUp.extraData.team_a" [alt]="showingPopUp.extraData.team_a">
            <span>{{ showingPopUp.extraData.team_a_shortName }}</span>
            <input #teamAGoals [(ngModel)]="showingPopUp.extraData.team_a_score" [mask]="'0*'" type="tel" minlength="1" maxlength="2" [disabled]="loading" required>
        </div>
        <div class="team">
            <img src="{{ core.assetsGlobalUrl }}emblemas/{{ showingPopUp.extraData.team_b_sigla }}.png" [title]="showingPopUp.extraData.team_b" [alt]="showingPopUp.extraData.team_b">
            <span>{{ showingPopUp.extraData.team_b_shortName }}</span>
            <input #teamBGoals [(ngModel)]="showingPopUp.extraData.team_b_score" [mask]="'0*'" type="tel" minlength="1" maxlength="2" [disabled]="loading" required>
        </div>

        <div class="btnBox">
            <button (click)="nowDate < (showingPopUp.extraData.date + mft) && nowDate > showingPopUp.extraData.date && !showingPopUp.extraData.resultDone && updateMatchScore(showingPopUp.extraData.id, teamAGoals.value, teamBGoals.value)"
                [disabled]="loading || nowDate > (showingPopUp.extraData.date + mft) || nowDate < showingPopUp.extraData.date || showingPopUp.extraData.resultDone">Update</button>
            <button (click)="nowDate > (showingPopUp.extraData.date + mft) && !showingPopUp.extraData.resultDone && sendMatchresult(showingPopUp.extraData.id, teamAGoals.value, teamBGoals.value)"
                class="blue" [disabled]="loading || nowDate < (showingPopUp.extraData.date + mft) || showingPopUp.extraData.resultDone">Finish</button>
        </div>
    </div>

</div>