<header>
    <div class="container">
        <span (click)="!admin$ && openAuth()"><i class="fa-regular fa-futbol"></i></span> <h4>Sn Football</h4>
    </div>
</header>
<main>
    <div class="tab container">
        <a (click)="router.navigate([''])" title="Jogos" [class.selected]="urlPath == ''">Jogos</a>
        <a (click)="router.navigate(['table'])" title="Classificação" [class.selected]="urlPath == 'table'">Classificação</a>
    </div>
    <router-outlet />
    <app-pop *ngIf="popUp$"/>
    <app-toast/>
</main>