<div id="matchesBase" class="container">
    <article *ngIf="!!matchDay">
        <div class="top">
            <span (click)="matchDay.matchdayId > 1 && gotoMatchDay(matchDay.matchdayId - 1)" [class.inactive]="matchDay.matchdayId <= 1"><i class="fa-solid fa-angle-left"></i></span>
            <h4>Jornada {{ matchDay.matchdayId }}</h4>
            <span (click)="matchDay.matchdayId < lastMatchDay && gotoMatchDay(matchDay.matchdayId + 1)" [class.inactive]="matchDay.matchdayId >= lastMatchDay"><i class="fa-solid fa-angle-right"></i></span>
        </div>
        <!-- <p>{{ matchDay.endDate | date: 'd MMMM y, EEEE - H:mm' : undefined : 'pt-PT' }}</p> -->
        <div *ngFor="let match of matchDay.matches" class="match" (click)="admin$ && core.popup.next({ pop: 'update', extraData: match })">
            <div class="date">
                <i>{{ match.stadium }}</i>                
                <b *ngIf="!match.date || nowDate < match.date">{{ (match.date | date: 'd MMMM y, EEEE' : undefined : 'pt-PT') || 'Data do Jogo a definir' }}</b>
                <b *ngIf="!!match.date && nowDate >= match.date && nowDate <= (match.date + mft)">Jogo decorrendo,
                    <span [class.half]="cron(match.date) > 45 && cron(match.date) < 60">{{ cron(match.date) <= 45 ? '1ª P: ' : cron(match.date) < 60 ? 'Intervalo' : '2ª P: ' }}</span>
                    <span class="cron" *ngIf="cron(match.date) <= 45 || cron(match.date) >= 60">{{ cron(match.date) <= 45 ? cron(match.date) : (cron(match.date) - 15) }}'</span>
                </b>
                <b *ngIf="!!match.date && nowDate > (match.date + mft)">Jogo terminado</b>
            </div>
            <div class="box">
                <h5 class="a" [title]="match.team_a">{{ match.team_a_shortName }}</h5>
                <img src="{{ core.assetsGlobalUrl }}emblemas/{{ match.team_a_sigla }}.png" [title]="match.team_a" [alt]="match.team_a">

                <div *ngIf="!!match.date && nowDate >= match.date" class="scorre" [class.live]="nowDate <= (match.date + mft)" [class.half]="cron(match.date) > 45 && cron(match.date) < 60">
                    <span class="a" [class.win]="!!match.date && nowDate > (match.date + mft) && match.team_a_score > match.team_b_score">{{ match.team_a_score }}</span>
                    <b>:</b>
                    <span class="b" [class.win]="!!match.date && nowDate > (match.date + mft) && match.team_b_score > match.team_a_score">{{ match.team_b_score }}</span>
                </div>
                <div *ngIf="!match.date || nowDate < match.date" class="hour">• {{ (match.date | date: 'H:mm' : undefined : 'pt-PT') || '--:--' }} •</div>

                <img src="{{ core.assetsGlobalUrl }}emblemas/{{ match.team_b_sigla }}.png" [title]="match.team_b" [alt]="match.team_b">
                <h5 class="b" [title]="match.team_b">{{ match.team_b_shortName }}</h5>
            </div>
        </div>
    </article>
</div>
<!-- • -->